<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="selenium automation">
  <test  name="Testng">
    <classes>
      <class name="testngg.Program"/>
      <class name="testngg.Program1"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="loging page">
	  
	  <classes>
		  
		  <class name="testngg.Program1">
		 
		   <methods>
			  <exclude name="signup"></exclude>
		  </methods>
		  </class>
		  
	  </classes>
  </test>
</suite> <!-- Suite -->
